// Variaveis de cores
$color-white: #FFFFFF;
$color-green: #4b08c7;
$color-brown: #A4A4A4;
$color-black: #000000;
$color-pink:  #8b4cff;
$color-yellow:#cfa204;


//Variaveis de media queries
$media-mobile-s: 320px;
$media-mobile-m: 375px;
$media-mobile-l: 425px;
$media-tablet: 768px;
$media-desktop: 1024px;

//Mixins fontes

@mixin font-title {
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
}

@mixin font-subtitle {
    font-family: 'Ruda', sans-serif;
    font-weight: 500;
}

@mixin font-paragrafo {
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
}